@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');
/*@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic');*/

body {
  /*background-image: url(../images/dc-online-media-mockup.jpg);*/
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 700px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  line-height: 25px;
  padding-top: 72px;
}

p {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 + p {
  margin-top: 5px;
}

h2 + p {
  margin-top: 10px;
}

h3 + p {
  margin-top: 10px;
}

h1 {
  margin-bottom: 4px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}

h2 {
  font-size: 33px;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: 'PT Sans Caption', sans-serif;
}

ul {
  font-size: 24px;
  line-height: 25px;
  list-style-type: disc;
}

li {
  margin-top: 20px;
}
a {
    color: black;
  }

.quote {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  margin-top: 10px;
  border-left: 3px solid black;
  padding-left: 20px;
}
.grey {
    color: grey
}
